<div class="login_full">
    <div class="login_area">
        <div class="left">
            <div >
                <div>
                    <div class="mb-2">
                        <img width="150px" src="../../assets/login-left-img.png" alt="">
                    </div>
                    <div class="font_head">Raja Tech Solutions</div>
                    <div class="mt-5">We built for feature</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right_login">
                <div class="white-box">
                    <div class="form_area">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div>
                                <div class="head_login mb-3">
                                    <div class="font_head headerColor">Change Password</div>
                                </div>
                                <div class="w-100">
                                    <div class="email_div">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Enter New Password</mat-label>
                                            <input matInput name="password" formControlName="password" required>
                                            <mat-error *ngIf="submitted && registerForm.get('password')?.errors">
                                                <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">
                                                    New Password is <strong>required</strong>
                                                </mat-error>
                                            </mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div class="email_div">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Confirm New Password</mat-label>
                                            <input matInput name="confirmpassword" formControlName="confirmPassword" required>
                                            <mat-error *ngIf="submitted && registerForm.get('confirmPassword')?.errors">
                                                <mat-error *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                                                    New Password is <strong>required</strong>
                                                </mat-error>
                                                <mat-error *ngIf="registerForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']">
                                                    New Password is not matched
                                                </mat-error>
                                            </mat-error>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="submit_div">
                                    <button type="submit" class="primary_button">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>