<div class="login_full">
    <div class="login_area">
        <div class="left">
            <div >
                <div>
                    <div class="mb-2">
                        <img width="150px" src="../../assets/login-left-img.png" alt="">
                    </div>
                    <div class="font_head">Raja Tech Solutions</div>
                    <div class="mt-5">We built for feature</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right_login">
                <div class="white-box">
                    <div class="form_area">
                        <form #f="ngForm" name="form" (ngSubmit)="submit(f)">
                            <div>
                                <div class="head_login mb-4">
                                    <div class="font_head headerColor">Forgot password</div>
                                </div>
                                <div class="email_div">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Enter Email ID</mat-label>
                                        <input matInput name="email" [(ngModel)]="mailData.email" required 
                                        #email="ngModel">
                                        <!--<p *ngIf="f.submitted && emailerr.errors">this is required</p>-->
                                        <mat-error *ngIf="f.submitted && email.invalid">
                                            <mat-error *ngIf="f.submitted && email.errors?.['required']">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="submit_div">
                                    <button type="submit" class="primary_button">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>